#textContainer{
display: none;
position: fixed;
top: 20px;
left: 50%;
transform: translateX(-50%);
padding: 10px;
background: rgba(0, 0, 0, 0.7);
color: white;
font-size: 20px;
border-radius: 5px;
}

#welcomePrompt{
    display: none;
}

#englishButton{
    height: 10%;
    width: 10%;
    background: white;
}
#englishFlag{
    height: 50%;
    width: 50%;
}

#spanishButton{
    height: 10%;
    width: 10%;
    background: white;
}
#spanishFlag{
    height: 50%;
    width: 50%;
}
#polishButton{
    height: 10%;
    width: 10%;
    background: white;
}
#polishFlag{
    height: 50%;
    width: 50%;
}
#animation {
    position: absolute;
    top: 40%;
    left: 50%;
}
#pickModelDiv{
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 20px;
    border-radius: 5px;
}
#manualContainer{
    position: absolute;
    top: 30%;
    left: 48%;
}

#animationImage{
    position: absolute;
    top: 40%;
    left: 41%;
    height: 200px;
    width: 400px;
}

#manualPreviousButton, #manualNextButton {
    height: 40px;
    width: 100px;
    font-size: 16px;
    color: black;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

#manualPreviousButton {
    visibility: hidden;
}
